.my-gallery {
  width: 100%;
  float: left;
  background-color: black;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-wrap: wrap;
}
.my-gallery img {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
.my-gallery figure {
  display: block;
  text-align: center;
  margin: 5px 0px 0px 5px;
  width: 250px;

  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}
.my-gallery figcaption {
  color: whitesmoke;
}